﻿
@using Core.Models.Security
@model AppRecordatorio.Models.TicketsCasos.Tickets

@{
    ViewBag.Title = "Create";
}

@{
    ViewBag._Active = "Create";
    ViewBag._Panel = "Create";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/helpdesk.png">
        <div class="content">
            Módulo  de creación de Tickets
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin", "Home")">Inicio</a>
                    <div class="divider"> / </div>

                    @if (SessionPersister.HasRol("Soporte") || SessionPersister.HasRol("Lider Soporte"))
                    {

                        <a class="section" href="@Url.Action("Index")">Listar</a>
                    }

                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Creación de Tickets</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="computer icon"></i>
        CREAR TICKET
    </button>

</h4>

<input type="hidden" id="Documento" name="Documento" value="@ViewBag.Documento" />
<input type="hidden" id="TipoCaso" name="TipoCaso" value="@ViewBag.TipoCaso" />

<div class="seven wide column">
    <div class="ui segments">
        <div class="ui teal segment form">

            <form id="formCreacionTicket">
                @*@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                <input name="IdUsuario" type="hidden" id="IdUsuario" value="@ViewBag.IdUsuario.ToString()" />
                <div class="three fields">

                    <div class="field">
                        <label>Area</label>
                        @*@Html.LabelFor(model => model.IdArea, "IdArea", htmlAttributes: new { @class = "" })*@

                        @Html.DropDownList("IdArea", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                        @Html.ValidationMessageFor(model => model.IdArea, "", new { @class = "ui error message" })
                    </div>


                    <div class="field">
                        @Html.LabelFor(model => model.IdTipoCaso, "Tipo Caso", htmlAttributes: new { @class = "" })
                        @Html.DropDownList("IdTipoCaso", new List<SelectListItem>(), "Seleccionar", new { @class = "form-control" })

                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.Modalidad, htmlAttributes: new { @class = "" })


                        <select id="Modalidad" name="Modalidad" class="ui search selection dropdown">
                            <option value="">Seleccione</option>
                            <option value="Sede">Trabajo Presencial en Sede</option>
                            <option value="Teletrabajo">Trabajo en Casa</option>
                        </select>

                        @Html.ValidationMessageFor(model => model.Modalidad, "", new { @class = "ui error message" })

                    </div>

                </div>



                <div class="field">
                    <label>Incidencia</label>
                    @*@Html.LabelFor(model => model.Incidente, htmlAttributes: new { @class = "" })*@
                    <h4>Por favor describe la situación</h4>
                    <div class="ui mini icon input" style="height:300px; font-size:18px">
                        @Html.TextAreaFor(model => model.Incidente, new { @class = "", @placeholder = "Favor indica porque estas abriendo el ticket y el mayor detalle posible en caso de alguna solicitud. Gracias" })
                    </div>


                    @Html.ValidationMessageFor(model => model.Incidente, "", new { @class = "ui error message" })
                </div>

                <h4>Puede adjuntar sus evidencias</h4>
                <div class="field">
                    <input type="file" id="fileInput" multiple name="fileInput" accept="image/*,.xls;.xlsx;jpg;png;doc;docx;ods;odt;pdf">
                </div>


                <div class="field">
                    <br />
                    <input type="button" name="CrearNuevoTicket" id="CrearNuevoTicket" value="Crear" class="ui  large red submit button" />

                    @{
                        if (SessionPersister.HasRol("Lider Soporte") || SessionPersister.HasRol("Soporte"))
                        {
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "ui button" })
                        }
                        if (SessionPersister.HasRol("Asesor"))
                        {
                            <a class="ui button" href="@Url.Action("HomeAdmin", "Home")">Regresar</a>
                        }
                    }
                </div>
                @*}*@
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <link href="~/Content/sweetalert/sweetalert.min.css" rel="stylesheet" />
    <script src="~/Scripts/sweetAlert/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#IdArea").change(function () {
                $.get("/Tickets/ObtenerTipoCaso", { IdArea: $("#IdArea").val() }, function (data) {
                    // VACIAMOS EL DropDownList
                    $("#IdTipoCaso").empty();
                    // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                    $("#IdTipoCaso").append("<option value> -- Seleccionar " + $("#ddlPregunta option:selected").text() + " --</option>")
                    // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                    $.each(data, function (index, row) {
                        $("#IdTipoCaso").append("<option value='" + row.Id + "'>" + row.Nombre + "</option>")
                    });
                });
            });
        });
    </script>
    <script src="~/Scripts/app/CrearTickets.js"></script>

}
