﻿@model AppRecordatorio.Models.TicketsCasos.Tickets

@{
    /**/

    ViewBag.Title = "Edit";
}

@{
    ViewBag._Active = "Edit";
    ViewBag._Panel = "Home";
    var estadoDemoraGestion = ViewBag.estadoTiempoGestionTicket == true ? 1 : 0; ;
}





<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/helpdesk.png">
        <div class="content">
            Módulo  de Revision de Tickets
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Revision de Tickets</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

@if (TempData["Mensaje"] != null && ViewBag.estadoTiempoGestionTicket)
{
    <div class="ui red message">
        @*<i class="close icon"></i>*@
        <div class="header">
            @TempData["Mensaje"]
        </div>
    </div>
}

<h4 class="ui horizontal divider header">
    <i class="edit icon"></i>
    Ticket @Model.Id.ToString()

</h4>

<div class="ui grid">
    <div class="one wide column"></div>


    <!--DATOS USUARIO-->


    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui teal segment form">

                <h4 class="ui header">Detalle Incidencia</h4>
                @using (Html.BeginForm("Edit", "Tickets", FormMethod.Post, new { @class = "ui large form", autofocus = "", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <input hidden="hidden" name="IdArea" id="IdArea" value="@Model.IdArea" />

                    <div class="one fields">
                        <div class="field">
                            @Html.LabelFor(model => model.CreatedAt, htmlAttributes: new { @class = "" })
                            <div class="ui mini icon input">
                                @Html.EditorFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "", type = "text", @readonly = "readonly" } })
                                <i class="calendar alternate outline icon"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "ui error message" })
                        </div>
                    </div>


                    <div class="ui grid">
                        <div class="eight wide column">

                            <div class="ui  form segment">
                                <div class="three fields">

                                    <div class="field">
                                        <label>Prioridad Ticket</label>
                                        <div class="ui mini icon input">
                                            @ViewBag.Prioridad
                                        </div>

                                    </div>

                                    <div class="field">
                                        <label>Prioridad Ticket</label>
                                        <div class="ui mini icon input">
                                            @ViewBag.TiempoResolucion
                                        </div>

                                    </div>

                                    <div class="field">
                                        <label>Tiempo transcurrido</label>
                                        <div class="ui mini icon input">
                                            @ViewBag.TiempoTranscurrido
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <br />

                    <div>
                        <input hidden="hidden" name="IdUsuario" id="IdUsuario" value="@Model.IdUsuario" />

                        <input hidden="hidden" name="IdTipoCaso" id="IdTipoCaso" value="@Model.IdTipoCaso" />

                        <input hidden="hidden" name="IdAsignado" id="IdAsignado" value="@Model.IdAsignado" />

                        <input hidden="hidden" name="Modalidad" id="Modalidad" value="@Model.Modalidad" />

                        <input hidden="hidden" name="IdAsignadoPor" id="IdAsignadoPor" value="@Model.IdAsignadoPor" />

                        <input hidden="hidden" name="estadoDemora" id="estadoDemora" value="@estadoDemoraGestion" />
                    </div>

                    <div class="two fields">

                        <div class="field">
                            <label>Notas Soporte</label>
                            <div class="ui mini icon input" style="height:100px">
                                @Html.TextAreaFor(model => model.Notas, new { @class = "", @placeholder = "Aquí puede añadir comentarios adicionales a cerca de la gestión del ticket." })
                            </div>
                            @Html.ValidationMessageFor(model => model.Notas, "", new { @class = "ui error message" })
                        </div>

                        @if (ViewBag.estadoTiempoGestionTicket)
                        {
                            <div class="field">
                                <label>Notas por demora en la gestión del ticket</label>
                                <div class="ui mini icon input" style="height:100px">
                                    @Html.TextAreaFor(model => model.DetalleDemoraGestion, new { @class = "", @placeholder = "Aquí puede añadir comentarios a cerca de la demora gestión del ticket." })
                                </div>
                                <label class="errorDetalleDemoraGestion"></label>

                            </div>
                        }


                    </div>


                    <div class="two fields">
                        <div class="field">
                            @Html.LabelFor(model => model.Incidente, htmlAttributes: new { @class = "" })

                            <div class="ui mini icon input" style="height:150px">
                                @Html.TextAreaFor(model => model.Incidente, new { @class = "", @readonly = "readonly" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Incidente, "", new { @class = "ui error message" })
                        </div>


                        <div class="field">
                            @Html.LabelFor(model => model.Respuesta, htmlAttributes: new { @class = "" })

                            <div class="ui mini icon input" style="height:150px">
                                @Html.TextAreaFor(model => model.Respuesta, new { @class = "" })
                            </div>

                            @Html.ValidationMessageFor(model => model.Incidente, "", new { @class = "ui error message" })
                        </div>

                    </div>

                    if (ViewBag.HistorialArchivos != null)
                    {
                        if (ViewBag.HistorialArchivos.Count != 0)
                        {
                            <h4>Evidencias Ticket</h4>

                            <table id="tablaArchivo" class="ui celled small hover striped table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Archivo</th>
                                    </tr>
                                </thead>
                                <tbody id="historialArchivoOrden">

                                    @{

                                        if (ViewBag.HistorialArchivos != null)
                                        {
                                            if (ViewBag.HistorialArchivos.Count != 0)
                                            {


                                                foreach (var item in ViewBag.HistorialArchivos)
                                                {
                                                    <tr>
                                                        <td>@item.Nombre</td>
                                                        <td>
                                                            @{
                                                                var tipoArchivo = item.ExtensionArchivo;

                                                                if (tipoArchivo == ".png" || tipoArchivo == ".jpg" || tipoArchivo == ".jpeg")
                                                                {
                                                                    <a id="detalleImagenTicket" value="Detalle" class="ui primary button" onclick="detalleImagen('@item.Archivo')">Detalle</a>

                                                                    <a class="ui positive button" href="@Url.Action("DescargarArchivo","Archivos", new { id = item.Id })">Descargar</a>
                                                                }
                                                                if (tipoArchivo == ".pdf")
                                                                {
                                                                    <a id="detalleArchivo" value="Detalle" class="ui primary button" onclick="detallePdf('@item.Archivo')">Detalle</a>

                                                                    <a class="ui positive button" href="@Url.Action("DescargarArchivo","Archivos", new { id = item.Id })">Descargar</a>
                                                                }
                                                                if (tipoArchivo == ".xls" || tipoArchivo == ".xlsx" || tipoArchivo == ".doc" || tipoArchivo == ".docx" || tipoArchivo == ".ods" || tipoArchivo == ".odt")
                                                                {
                                                                    <a class="ui positive button" href="@Url.Action("DescargarArchivo","Archivos", new { id = item.Id  })">Descargar</a>
                                                                }

                                                            }

                                                        </td>

                                                    </tr>
                                                }
                                            }
                                        }
                                    }



                                </tbody>
                            </table>
                        }
                    }

                    <div class="seven wide column" id="detalleImagen" name="detalleImagen" style="margin-top:15px; display:none">

                        <div class="field">
                            <button id="ocultarImagen" name="ocultarImagen" class="ui default button">Ocultar</button>
                        </div>

                        <div class="ui segments">
                            <div class="ui teal segment form">

                                <h4 class="ui header">Detalle</h4>

                                <img src="" id="imagenTicket" name="imagenTicket">
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="seven wide column" id="detallePdf" name="detallePdf" style="margin-top:15px; display:none">

                        <div class="field">
                            <button id="ocultarPdfDetalle" class="ui default button">Ocultar</button>
                        </div>

                        <div class="ui segments">
                            <div class="ui teal segment form">

                                <h4 class="ui header">Detalle</h4>

                                <iframe id="pdfTicket" name="pdfTicket" src="" width="100%" height="800px"></iframe>
                            </div>
                        </div>
                    </div>

                    <h4>Si desea adjuntar un archivo a la respuesta</h4>
                    <div class="field">
                        <input type="file" id="fileInput" multiple name="fileInput" accept="image/*,.xls;.xlsx;jpg;png;doc;docx;ods;odt;pdf">
                    </div>


                    if (ViewBag.formatoError != "")
                    {
                        <label style="color:red">@ViewBag.formatoError</label>

                        <br />
                    }


                    <br />


                    <div class="field">
                        @Html.LabelFor(model => model.IdEstado, "Estado Ticket", htmlAttributes: new { @class = "" })

                        @Html.DropDownList("IdEstado", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                        <label class="errorEstadoTicket"></label>
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.IdTipoAtencion, "Tipo de Atención", htmlAttributes: new { @class = "" })

                        @Html.DropDownList("IdTipoAtencion", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                        <label class="errorTipoAtención"></label>
                    </div>

                    <div class="field">
                        <br />
                        <input type="button" value="Guardar" id="validar" class="ui  large red submit button" />
                        <input type="submit" style="display:none" id="Guardar" name="Guardar" value="Guardar" class="ui  large red submit button" />
                        <a class="ui button" href="/Tickets">Regresar</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/app/validators.js"></script>

    <script>


        $(function () {
            $('#FechaFinalizacion').datepicker({
                dateFormat: 'yy-mm-dd',

                onSelect: function (datetext) {
                    var d = new Date();
                    datetext = datetext + " " + d.getHours() + ": " + d.getMinutes() + ": " + d.getSeconds();
                    $('#FechaFinalizacion').val(datetext);
                },
            });

        });
        function calendarioEs() {
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '<Ant',
                nextText: 'Sig>',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);
        }



    </script>


    <script src="~/Scripts/app/ArchivosTicket.js"></script>



}
