﻿@using Core.Models.Security
@model IEnumerable<AppRecordatorio.Models.TicketsCasos.Tickets>

@{
    ViewBag.Title = "TicketsResueltos";
}

@{
    ViewBag._Active = "TicketsResueltos";
    ViewBag._Panel = "Home";
}


<style>
    .CellWithComment {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/helpdesk.png">
        <div class="content">
            Módulo de tickets Resueltos
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de Tickets</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>

</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="tasks icon"></i>
        Tickets Resueltos
    </button>

</h4>



<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                <form id="frm-example">

                    <table id="tblGestionTickets" class="ui celled small hover striped table" style="width:100%">
                        <thead>
                            <tr>
                                <th># Ticket</th>
                                <th>Incidencia</th>
                                <th>Mi Respuesta</th>
                                <th>Estado Ticket</th>
                                <th>Usuario Documento</th>
                                <th>Usuario Nombres Apellidos</th>
                                <th>Celular</th>
                                <th>ANY DESK</th>
                                <th>Campaña</th>
                                <th>Area</th>
                                <th>Tipo Caso</th>
                                <th>Fecha Creación</th>
                                <th>Fecha Finalización</th>
                            </tr>
                        </thead>
                    </table>

                    <hr>

                    @if (SessionPersister.HasRol("Lider Soporte") || SessionPersister.HasRol("Soporte"))
                    {

                        <div class="field">
                            <a class="ui button" href="@Url.Action("HomeAdmin","Home")">Regresar</a>
                        </div>

                        <br />

                    }

                </form>
            </div>

        </div>
    </div>

</div>
@section Scripts {
    <script src="~/Scripts/datatables.net/js/jquery.dataTables.min.js"></script>
    <link href="~/Content/Datatables/datatables.semantic.min.css" rel="stylesheet" />
    <script src="~/Scripts/datatables.net/js/datatables.semantic.min.js"></script>
    <script src="~/Scripts/app/GestionTickets.js"></script>
}

