﻿@using Core.Models.Security
@model IEnumerable<AppRecordatorio.Models.TicketsCasos.Tickets>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}



<style>
    .CellWithComment {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<br />
<br />

<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/helpdesk.png">
        <div class="content">
            Módulo  de Lista  de Tickets
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de Tickets</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
</div>
<h4 class="ui horizontal divider header">

    Lista de tickets

</h4>
<div class="ui grid">
    <div class="eight wide column">

        <div class="ui  form segment">
            <h4>Estado Tickets</h4>
            <div class="three fields">
                <div class="field">
                    <label style="color:red">Tickets sin asignar</label>
                    @ViewBag.SinAsignar
                </div>
                <div class="field">
                    <label style="color:orange">Tickets en progreso</label>
                    @ViewBag.EnProgreso
                </div>
                <div class="field">
                    <label style="color:forestgreen">Tickets resueltos</label>
                    @ViewBag.Resueltos
                </div>
            </div>
        </div>

    </div>


    <div class="eight wide column">
        <div class="ui  form segment">
            <h4>Prioridad Tickets</h4>
            <div class="three fields">
                <div class="field">
                    <label style="background-color:red; color:white">ALTA</label>
                    <div class="ui mini icon input">
                        @ViewBag.PrioridadAlta
                    </div>
                </div>

                <div class="field">
                    <label style="background-color:orangered; color:white">MEDIA</label>
                    <div class="ui mini icon input">
                        @ViewBag.PrioridadMedia
                    </div>
                </div>

                <div class="field">
                    <label style="background-color:orange; color:white">BAJA</label>
                    <div class="ui mini icon input">

                        @ViewBag.PrioridadBaja
                    </div>
                </div>
            </div>



        </div>
    </div>



</div>



<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                <form id="frm-example">

                    <table id="example" class="ui celled small hover striped table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th># Ticket</th>
                                <th>Incidencia</th>
                                <th>Estado</th>
                                <th>Usuario Documento</th>
                                <th>Usuario Nombres Apellidos</th>
                                <th>Celular</th>
                                <th>Otro Celular</th>
                                <th>Modalidad</th>
                                <th>Campaña</th>
                                <th style="background-color:orange">Prioridad</th>
                                <th>Asignado a</th>
                                <th>Tipo Caso</th>
                                <th>Fecha Creación</th>
                                <th>Detalle</th>
                            </tr>
                        </thead>
                    </table>

                    <hr>

                    @if (SessionPersister.HasRol("Lider Soporte") || SessionPersister.HasRol("Soporte Asignacion"))
                    {

                        if (ViewBag.Usuarios != null)
                        {
                            <div class="two fields">
                                <div class="field">
                                    <label for="form-subcomponent-shorthand-input-first-name">Asignar a</label>
                                    <div class="ui fluid input">
                                        @Html.DropDownList("Usuarios", ViewBag.Usuarios as List<SelectListItem>,
                          "Seleccione", new { @class = "ui fluid search selection dropdown", UserId = "Usuarios" })
                                    </div>
                                </div>
                                <br />
                                <div class="field">
                                    <button type="button" id="btnTest" class="ui red button">Asignar</button>

                                    <a class="ui button" href="@Url.Action("HomeAdmin","Home")">Regresar</a>
                                </div>


                            </div>
                        }
                        <br />

                    }


                </form>
            </div>

        </div>
    </div>

</div>
@section Scripts {
    <link href="~/Content/Datatables/checkbox.min.css" rel="stylesheet" />
    <script src="~/Scripts/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables.net/js/datatables.semantic.min.js"></script>
    <script src="~/Scripts/datatables.net/js/checkbox.datatables.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.min.css" rel="stylesheet" />
    <script src="~/Scripts/sweetAlert/sweetalert.min.js"></script>
    <script src="~/Scripts/app/Tickets.js"></script>

}
