﻿
@model PagedList.IPagedList<AppRecordatorio.Models.TicketsCasos.Tickets>
@using PagedList.Mvc


@{
    /**/

    ViewBag.Title = "ListaEstadoTickets";
}

@{
    ViewBag._Active = "ListaEstadoTickets";
    ViewBag._Panel = "Home";
}


<style>
    .CellWithComment {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/helpdesk.png">
        <div class="content">
            Módulo  Estado  de Tickets
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de Tickets</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
</div>
<h4 class="ui horizontal divider header">
    Estado Tickets

</h4>


<div class="ui  form segment">
    @using (Html.BeginForm("ListaEstadoTickets", "Tickets", FormMethod.Get))
    {


    <div class="fields">
        <div class="field">
            <label># Ticket</label>
            <input type="text" name="ticket" placeholder="# ticket">
        </div>
        <div class="field">
            <label>Estado Ticket</label>
            <select name="estado" id="estado">
                <option value="">Seleccione</option>
                <option value="1">Sin asignar</option>
                <option value="3">En progreso</option>
                <option value="4">Resueltos</option>
            </select>
        </div>
        <div class="field">
            <label>Buscar</label>
            <input type="submit" name="submit" value="Buscar" class="ui positive button" />
        </div>

    </div>

    <div class="fields">
        <div class="field">
            <label style="color:red">Tickets sin asignar</label> @ViewBag.SinAsignar
        </div>
        <div class="field">
            <label style="color:orange">Tickets en progreso</label> @ViewBag.EnProgreso
        </div>
        <div class="field">
            <label style="color:forestgreen">Tickets resueltos</label> @ViewBag.Resueltos
        </div>
    </div>
    }
</div>

<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                <table id="tabla" class="ui celled small hover striped table">

                    <thead>
                        <tr>
                            <th># Ticket</th>
                            <th>Incidencia</th>
                            <th>Respuesta</th>
                            <th>Tipo Caso</th>
                            <th>Ticket Asignado a</th>
                            <th>Estado Ticket</th>
                            <th>Usuario Documento</th>
                            <th>Celular</th>
                            <th>Campaña</th>
                            <th>Fecha Creación</th>
                            <th>Fecha Finalización</th>
                            <th>Detalle</th>
                        </tr>
                    </thead>

                    @if (Model != null)
                    {
                        <tbody>

                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td class="CellWithComment">
                                    @Html.DisplayFor(modelItem => item.Incidente)
                                </td>
                                <td class="CellWithComment">
                                    @Html.DisplayFor(modelItem => item.Respuesta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoCaso.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Users.Nombres)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estados.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Documento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Celular)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Campana.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaFinalizacion)
                                </td>
                                <td>
                                    <a class="ui positive button" href="@Url.Action("ResumentTicket","DetalleEstadoTicket",new { id = item.Id } )">Detalle</a>
                                    @*@Html.ActionLink("DetalleEstadoTicket", "ResumentTicket", new { id = item.Id }, new { @class = "ui green button" })*@
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="9">

                                    @Html.PagedListPager(Model, page => Url.Action("ListaEstadoTickets", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptionsSemantic.semantic)
                                </th>
                            </tr>

                        </tfoot>

                    }


                </table>
            </div>
        </div>
    </div>
</div>





@*<div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui segments">
                <div class="ui teal segment">
                    <form id="frm-example">

                        <table id="tblEstadoTickets" class="ui celled small hover striped table" style="width:100%">
                            <thead>
                                <tr>
                                    <th># Ticket</th>
                                    <th>Incidencia</th>
                                    <th>Respuesta</th>
                                    <th>Ticket Asignado a</th>
                                    <th>Estado Ticket</th>
                                    <th>Usuario Documento</th>
                                    <th>Usuario Nombres Apellidos</th>
                                    <th>Celular</th>
                                    <th>ANY DESK</th>
                                    <th>Campaña</th>
                                    <th>Area</th>
                                    <th>Tipo Caso</th>
                                    <th>Fecha Creación</th>
                                    <th>Fecha Finalización</th>
                                    <th>Detalle</th>
                                </tr>
                            </thead>
                        </table>

                        <hr>

                        @if (SessionPersister.HasRol("Lider Soporte") || SessionPersister.HasRol("Soporte"))
                        {

                            <div class="field">
                                <a class="ui button" href="@Url.Action("HomeAdmin","Home")">Regresar</a>
                            </div>

                            <br />

                        }




                    </form>
                </div>

            </div>
        </div>

    </div>*@
@section Scripts {
    @*<script src="~/Scripts/datatables.net/js/jquery.dataTables.min.js"></script>
        <link href="~/Content/Datatables/datatables.semantic.min.css" rel="stylesheet" />
        <script src="~/Scripts/datatables.net/js/datatables.semantic.min.js"></script>

        <script src="~/Scripts/app/TicketsGeneral.js"></script>*@


}


@*<div class="ui grid">
        <div class="one wide column"></div>
        <div class="sixteen wide column">
            <div class="ui segments">
                <div class="ui teal segment">
                    <table id="tabla" class="ui celled small hover striped table">
                        <thead>
                            <tr>
                                <th>
                                    # Ticket
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Area.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Estados.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TipoCaso.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.User.Documento)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Incidente)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Respuesta)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaFinalizacion)
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Area.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estados.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoCaso.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Documento)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Incidente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Respuesta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaFinalizacion)
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>*@
