﻿@using Core.Models.Security
@model IEnumerable<AppRecordatorio.Models.TicketsCasos.Tickets>

@{
    ViewBag.Title = "MisTickets";
}

@{
    ViewBag._Active = "MisTickets";
    ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/helpdesk.png">
        <div class="content">
            Módulo  de Lista  de Tickets
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de Tickets</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
    <form action="" method="get">
        <a href="@Url.Action("Create", "Tickets", new { id = @SessionPersister.UserName })" , class="ui positive button">
            Crear Nuevo Ticket
        </a>
    </form>
</div>


<div class="ui grid" style="margin-top:10px">

    <div class="eight wide column">
        <div class="ui  form segment">
            <h4>Prioridad Tickets</h4>
            <div class="three fields">
                <div class="field">
                    <label style="background-color:red; color:white">ALTA</label>
                    <div class="ui mini icon input">
                        @ViewBag.PrioridadAlta
                    </div>
                </div>

                <div class="field">
                    <label style="background-color:orangered; color:white">MEDIA</label>
                    <div class="ui mini icon input">
                        @ViewBag.PrioridadMedia
                    </div>
                </div>

                <div class="field">
                    <label style="background-color:orange; color:white">BAJA</label>
                    <div class="ui mini icon input">

                        @ViewBag.PrioridadBaja
                    </div>
                </div>
            </div>



        </div>
    </div>



</div>

<h4 class="ui horizontal divider header">
   
        <i class="tasks icon"></i>
        LISTA DE Tickets


</h4>

<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                <form id="frm-example">

                    <table id="tblTicketsAsesor" class="ui celled small hover striped table" style="width:100%">
                        <thead>
                            <tr>
                                <th># Ticket</th>
                                <th>Ticket Asignado a</th>
                                <th>Estado Ticket</th>
                                <th>Documento</th>
                                <th>Nombres Apellidos</th>
                                <th>Celular</th>
                                <th>Campaña</th>
                                <th>Area</th>
                                <th>Tipo Caso</th>
                                <th style="background-color:lawngreen">Prioridad</th>
                                <th>Fecha Creación</th>
                                <th>Fecha Finalización</th>
                                <th>Detalle</th>
                            </tr>
                        </thead>
                    </table>

                    <hr>

                    <br />




                </form>
            </div>

        </div>
    </div>

</div>
@section Scripts {
    <script src="~/Scripts/datatables.net/js/jquery.dataTables.min.js"></script>
    <link href="~/Content/Datatables/datatables.semantic.min.css" rel="stylesheet" />
    <script src="~/Scripts/datatables.net/js/datatables.semantic.min.js"></script>
    <script src="~/Scripts/app/TicketsAsesor.js"></script>
}