﻿@model IEnumerable<AppRecordatorio.Models.Campanas.Campana>
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/helpdesk.png">
        <div class="content">
            Módulo Cargue Masivo Usuarios
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                </div>
            </div>
        </div>

    </h1>

    <div class="ui hidden divider"></div>
</div>

<h4 class="ui horizontal divider header">

    <i class="users icon"></i>
    @ViewBag.titulo

</h4>


<div class="ui grid">
    <div class="one wide column"></div>
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                <div class="field">
                    <p style="font-weight:bold">No modificar el nombre de las columnas!!!</p>
                    <p style="font-weight:bold">La información a cargar debe tener formato texto!!!</p>
                    <a href="~/formatoCargueUsuarios/FormatoCargueUsuariosHelpdesk.xlsx" class="ui blue large button" download><i class="fa fa-download"></i>Descargar Formato</a>
                </div>

            </div>
        </div>
    </div>

</div>




<div class="ui grid">
    <div class="one wide column"></div>
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="field">
                        <label for="CampanaUsuario">Campaña</label>
                        <select id="CampanaUsuario" class="ui dropdown">
                            <option value="0">Seleccione la campaña</option>
                            @foreach (var item in Model)
                            {
                                <option value="@item.Id">@item.Nombre</option>
                            }
                        </select>

                    </div>

                    <div class="field">
                        <input type="file" id="fileUsuarios" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                    </div>

                    <div class="field">
                        <br />
                        <input type="button" id="CargarUsuarios" value="Cargar" class="ui  large green submit button" />
                        <a class="ui large  button" href="@Url.Action("HomeAdmin","Home")">Regresar</a>

                    </div>
                }
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <script src="~/Scripts/app/CargueMasivoUsuarios.js"></script>

}
