﻿@model Core.Models.User.User

@{
                /**/

                ViewBag.Title = "Edit";
}

@{
    ViewBag._Active = "Edit";
    ViewBag._Panel = "Home";
}





<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/helpdesk.png">
        <div class="content">
            Módulo  de Edición de User
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Edición de User</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="edit icon"></i>
        Editar User
    </button>

</h4>

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="field">
                        @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "" })


                        <select name="Estado" class="ui search selection dropdown">
                            <option value="true" @if (Model.Estado == true) { Write("Selected"); }>Activo</option>
                            <option value="false" @if (Model.Estado == false) { Write("Selected"); }>Inactivo</option>
                        </select>

                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "ui error message" })

                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Clave, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Clave, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.Clave, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.TelefonoFijo, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.TelefonoFijo, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.TelefonoFijo, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.CodigoAcceso, htmlAttributes: new { @class = "" })

                        <div class="ui mini icon input">
                            @Html.EditorFor(model => model.CodigoAcceso, new { htmlAttributes = new { @class = "" } })
                            <i class="keyboard outline outline icon"></i>
                        </div>


                        @Html.ValidationMessageFor(model => model.CodigoAcceso, "", new { @class = "ui error message" })
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.CampanaId, "CampanaId", htmlAttributes: new { @class = "" })

                        @Html.DropDownList("CampanaId", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                        @Html.ValidationMessageFor(model => model.CampanaId, "", new { @class = "ui error message" })
                    </div>


                    <div class="field">
                        <br />
                        <input type="submit" value="Guardar" class="ui  large red submit button" />
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "ui button" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>


