﻿@model IEnumerable<Core.Models.User.User>

@{
    ViewBag.Title = "Index";
}

@{
	ViewBag._Active = "Index";
	ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/helpdesk.png">
        <div class="content">
            Módulo  de Lista  de User
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section"  href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Lista  de User</div>
                </div>
            </div>
        </div>
    </h1>
    <div class="ui hidden divider"></div>
    <form action="" method="get">
        <a href="@Url.Action("create")" class="ui download red button">
            CREAR NUEVO
        </a>

        <div class="ui action input">
            <input type="text" name="Name" placeholder="Nombre" value="@ViewBag.FName">
            <button class="ui icon button" id="btnCon">
                <i class="search icon"></i>
            </button>
        </div>

    </form>
</div>
<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="tasks icon"></i>
        LISTA DE User
    </button>

</h4>



<div class="ui grid">
    <div class="one wide column"></div>
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
				<table id="tabla" class="ui celled small hover striped table">
					<thead>
						<tr>

																														<th>
										@Html.DisplayNameFor(model => model.Documento)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Nombres)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Apellidos)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Correo)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Estado)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Clave)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Login)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.TelefonoFijo)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.Celular)
									</th>
																							<th>
										@Html.DisplayNameFor(model => model.CodigoAcceso)
									</th>
																<th>Acciones</th>
							</tr>
					</thead>
					<tbody>

							@foreach (var item in Model) {
								<tr>
						
																																					<td>
										@Html.DisplayFor(modelItem => item.Documento)
									</td>
																														<td>
										@Html.DisplayFor(modelItem => item.Nombres)
									</td>
																														<td>
										@Html.DisplayFor(modelItem => item.Apellidos)
									</td>
																														<td>
										@Html.DisplayFor(modelItem => item.Correo)
									</td>
																														<td>
									 <div class="ui toggle  checkbox" >
                                        <input type="checkbox"  disabled="disabled"name="public"  @if (item.Estado == true) {@Html.Raw("checked"); }>
                                        <label></label>
                                    </div>
									</td>

																														<td>
										@Html.DisplayFor(modelItem => item.Clave)
									</td>
																														<td>
										@Html.DisplayFor(modelItem => item.Login)
									</td>
																														<td>
										@Html.DisplayFor(modelItem => item.TelefonoFijo)
									</td>
																														<td>
										@Html.DisplayFor(modelItem => item.Celular)
									</td>
																														<td>
										@Html.DisplayFor(modelItem => item.CodigoAcceso)
									</td>
                                                                                                                        <td>
                                                                                                                            <div class="field">
                                                                                                                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "ui download red button" })
                                                                                                                                @Html.ActionLink("Detalle", "Details", new { id = item.Id }, new { @class = "ui download  button" })
                                                                                                                                @Html.ActionLink("Rol", "Roles", new { id = item.Id }, new { @class = "ui download  button" })
                                                                                                                            </div>
                                                                                                                         
                                                                                                                        </td>
															</tr>
							}
					</tbody>
				</table>
            </div>
        </div>
    </div>
</div>
