﻿@model AppRecordatorio.Models.TipoCasos.TipoCaso

@{
    /**/

    ViewBag.Title = "Edit";
}

@{
    ViewBag._Active = "Edit";
    ViewBag._Panel = "Home";
}





<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/helpdesk.png">
        <div class="content">
            Módulo  de Edición de TipoCaso
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Edición de TipoCaso</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <i class="edit icon"></i>
    Editar TipoCaso
</h4>

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="two fields">

                        <div class="field">
                            @Html.LabelFor(model => model.IdArea, "IdArea", htmlAttributes: new { @class = "" })

                            @Html.DropDownList("IdArea", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui search selection dropdown" })
                            @Html.ValidationMessageFor(model => model.IdArea, "", new { @class = "ui error message" })
                        </div>

                        <div class="field">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "" })

                            <div class="ui mini icon input">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "" } })
                                <i class="keyboard outline outline icon"></i>
                            </div>


                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "ui error message" })
                        </div>

                    </div>

                    <div class="two fields">


                        @*<div class="field">
                            @Html.LabelFor(model => model.Prioridad, htmlAttributes: new { @class = "" })


                            <select name="Estado" class="ui search selection dropdown">
                                <option value="ALTO" @if (Model.Prioridad == "ALTO") { Write("Selected"); }>ALTO</option>
                                <option value="MEDIO" @if (Model.Prioridad == "MEDIO") { Write("Selected"); }>MEDIO</option>
                                <option value="BAJO" @if (Model.Prioridad == "BAJO") { Write("Selected"); }>BAJO</option>
                            </select>

                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "ui error message" })

                        </div>*@



                        <div class="field">
                            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "" })


                            <select name="Estado" class="ui search selection dropdown">
                                <option value="true" @if (Model.Estado == true) { Write("Selected"); }>Activo</option>
                                <option value="false" @if (Model.Estado == false) { Write("Selected"); }>Inactivo</option>
                            </select>

                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "ui error message" })

                        </div>

                    </div>


                    <div class="field">
                        <br />
                        <input type="submit" value="Guardar" class="ui  large red submit button" />
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "ui button" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
