﻿@using Core.Models.Security
@using tmkhogares.ViewModel
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->

@if (SessionPersister.HasRol("Administrador"))
{
    <div class="ui dropdown item">
        Usuarios
        <i class="dropdown icon"></i>
        <div class="menu">
            <a href="@Url.Action("Create", "Users")" class="item"><i class="user plus icon"></i> Crear usuario</a>
            <a href="@Url.Action("index", "Users")" class="item"><i class="user plus icon"></i> Lista de usuarios</a>
        </div>
    </div>

}
<!--|==================================================================|-->
<!--|             MENU DE TIPO CASO                              |-->
<!--|==================================================================|-->
@*@if (SessionPersister.HasRol("Administrador"))
    {
        <div class="ui dropdown item">
            Tipos de Caso
            <i class="dropdown icon"></i>
            <div class="menu">
                <a href="@Url.Action("create","tipocasoes")" class="item"><i class="edit icon"></i>Crear tipos de caso</a>
                <a href="@Url.Action("index","tipocasoes")" class="item"><i class="edit icon"></i>Lista tipos de caso</a>
            </div>
        </div>

    }*@


<!--|==================================================================|-->
<!--|             MENU DE CAMPAÑAS                              |-->
<!--|==================================================================|-->


@if (SessionPersister.HasRol("Administrador"))
{
    <div class="ui dropdown item">
        Campaña
        <i class="dropdown icon"></i>
        <div class="menu">
            <a href="@Url.Action("create","Campanas")" class="item"><i class="edit icon"></i>Crear campaña</a>
            <a href="@Url.Action("index","Campanas")" class="item"><i class="edit icon"></i>Lista de campañas</a>
        </div>
    </div>

}

@if (SessionPersister.HasRol("Administrador"))
{
    <div class="ui dropdown item">
        Cargue Masivo Usuarios
        <i class="dropdown icon"></i>
        <div class="menu">
            <a href="@Url.Action("Index","CargueUsuarios")" class="item"><i class="edit icon"></i>Cargue Usuarios</a>
        </div>
    </div>

}

<div class="right menu">

    <a href="@Url.Action("Logout","Accounts")" class="item"><i class="close icon"></i>Cerrar Session</a>

</div>


<style>
    .sidebar-collapse .crosselinglogo {
        display: none;
    }
</style>