﻿
@using Core.Models.Security
@{
    ViewBag.Title = "Home Page";
}

<div class="ui grid">
    <div class="ten centered wide column">
        @*<img class="ui fluid image bordered rounded" src="~/Content/images/Escritorio .png">*@
    </div>
</div>

@{
    var date = DateTime.UtcNow;


}


<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/helpdesk.png">
        <div class="content">
            27 Service Desk
            <div class="sub header">
                <div class="ui breadcrumb">
                    <p class="section" href="@Url.Action("HomeAdmin","Home")">Uno27</p>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>


<div class="ui grid">
    <div class="one wide column">

    </div>
    <div class="fourteen wide column">
        <div class="ui divider"></div>

        @*<div class="ui three column center aligned divided relaxed stackable grid container">
                <div class="row">
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="icon users"></i>
                            Mis Clientes
                        </h2>
                        <p>Ver y administrar los clientes</p>
                        <a class="ui large button red" href="/clientes">Ver</a>
                    </div>
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="icon cart"></i>
                            Ver Mis ventas
                        </h2>
                        <p>Ver ordenes y ventas.</p>
                        <div class="ui negative view-ui large button" href="/ordens/MisOrdenes">Ver</div>
                    </div>
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="icon calendar alternate outline"></i>
                           Ver Mi Cronograma
                        </h2>
                        <p>
                           Administra las citas programadas
                        </p>
                        <a href="/Programacion/CalendarioProgramacion" class="ui large red button">Ver mi Cronograma</a>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>*@

        <div class="ui three column center aligned divided relaxed stackable grid container">
            <div class="row">
                @if (SessionPersister.HasRol("Asesor"))
                {
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="icon clipboard outline"></i>
                            Crear Ticket
                        </h2>
                        <p>Creación de tickets soporte</p>
                        <a href="@Url.Action("Create", "Tickets", new { id = @SessionPersister.UserName })" , class="ui large  red button">
                            Crear
                        </a>
                    </div>
                }
                @if (SessionPersister.HasRol("Asesor"))
                {
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="icon edit"></i>
                            Mis Tickets Creados
                        </h2>
                        <p>Ver el estado de mis tickets</p>
                        <a href="@Url.Action("MisTickets", "Tickets")" , class="ui large  red button">
                            Ver
                        </a>
                    </div>
                }
                @if (SessionPersister.HasRol("Asesor"))
                {
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="icon user"></i>
                            Mis Datos
                        </h2>
                        <p>
                            <strong>Usuario </strong> : @SessionPersister.UserName
                        </p>
                    </div>
                }
                @if (SessionPersister.HasRol("Lider Soporte") || SessionPersister.HasRol("Soporte Asignacion"))
                {
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="icon clipboard list"></i>
                            Mis Tickets
                        </h2>
                        <p>Asignación de tickets</p>
                        <a href="@Url.Action("index", "Tickets")" , class="ui large  red button">
                            Ver
                        </a>
                    </div>
                }
                @if (SessionPersister.HasRol("Soporte") || SessionPersister.HasRol("Recursos Humanos"))
                {
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="icon clipboard list"></i>
                            Mis Tickets Asignados
                        </h2>
                        <p>lista de tickets por gestionar</p>
                        <a href="@Url.Action("index", "Tickets")" , class="ui large  red button">
                            Ver
                        </a>
                    </div>
                }
                @if (SessionPersister.HasRol("Lider Soporte") || SessionPersister.HasRol("Soporte") || SessionPersister.HasRol("Soporte Asignacion"))
                {
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="icon eye"></i>
                            Estado Tickets
                        </h2>
                        <p>Lista general de tickets</p>
                        <a href="@Url.Action("ListaEstadoTickets", "Tickets")" , class="ui large  red button">
                            Ver
                        </a>
                    </div>
                }

                @if (SessionPersister.HasRol("Lider Soporte") || SessionPersister.HasRol("Soporte") || SessionPersister.HasRol("Soporte Asignacion") || SessionPersister.HasRol("Recursos Humanos"))
                {
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="icon edit"></i>
                            Mis Tickets Gestionados
                        </h2>
                        <p>Lista Tickets Resueltos, Anulados, Duplicados</p>
                        <a href="@Url.Action("GestionTickets", "Tickets")" , class="ui large  red button">
                            Ver
                        </a>
                    </div>
                }

            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui three column center aligned divided relaxed stackable grid container">


            @if (SessionPersister.HasRol("Lider Soporte") || SessionPersister.HasRol("Soporte") || SessionPersister.HasRol("Soporte Asignacion") || SessionPersister.HasRol("Recursos Humanos"))
            {
                <div class="row">

                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="icon clipboard outline"></i>
                            Crear Ticket
                        </h2>
                        <p>Creación de tickets soporte</p>
                        <a href="@Url.Action("Create", "Tickets", new { id = @SessionPersister.UserName })" , class="ui large  red button">
                            Crear
                        </a>
                    </div>


                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="icon edit outline"></i>
                            Mis Tickets Creados
                        </h2>
                        <p>Ver el estado de mis tickets</p>
                        <a href="@Url.Action("MisTickets", "Tickets")" , class="ui large  red button">
                            Ver
                        </a>
                    </div>

                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="icon user"></i>
                            Mis Datos
                        </h2>
                        <p>
                            <strong>Usuario </strong> : @SessionPersister.UserName
                        </p>
                    </div>

                </div>
            }



        </div>

    </div>
</div>
