﻿
@{
    ViewBag.Title = "Evidencias Casos";
}

<style>
    #imagenEvidencia img {
        width: 100%;
        height: 400px;
    }
</style>



<div class="ui modal evidenciaArchivos">
    <i class="close icon"></i>
    <div class="header">
        Evidencia
    </div>
    <div class="image content">
        <div class="description" style="width:100%">
            <h4>Utilice la Tecla <strong>impr pant</strong> para capturar la imagen, luego presione las teclas <strong>ctrl + v.</strong> verifique que la imagen que capturo aparezca en la parte inferior de este texto</h4>

            <div class="field" style="height:400px">
                <div id="imagenEvidencia">

                </div>
            </div>

        </div>
    </div>
    <div class="actions">

        <input type="button" id="guardarEvidenciaGestion" value="guardar" class="ui  large red submit button" />
    </div>
</div>
