﻿@model AppRecordatorio.Models.TicketsCasos.Tickets

@{
    ViewBag._Active = "Edit";
    ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  Detalle  de Tickets
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("MisTickets","Tickets")">Inicio</a>
                    <div class="divider"> / </div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="edit icon"></i>
        Detalle Ticket
    </button>

</h4>

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="field">
                        <div class="ui message">
                            <div class="header">
                                Estado Ticket

                            </div>
                            @{
                                if (Model.IdEstado == 4)
                                {
                                    @*<p style="font-weight:bold; color:green">@Model.Estados.Nombre</p>*@
                                    <p style="font-weight:bold; color:green">Ticket Resuelto, por favor verifique la respuesta.</p>
                                }

                            }
                            @{
                                if (Model.IdEstado == 2)
                                {
                                    <p style="font-weight:bold;">@Model.Estados.Nombre</p>
                                    <p style="font-weight:bold;">El ticket se asigno al área encargada.</p>
                                }
                            }
                            @{
                                if (Model.IdEstado == 3)
                                {
                                    <p style="font-weight:bold;">@Model.Estados.Nombre</p>
                                    <p style="font-weight:bold;">El área encargada esta encuentra gestionando el ticket.</p>
                                }
                            }

                        </div>
                    </div>


                    <div class="two fields">
                        <div class="field">
                            @Html.LabelFor(model => model.Incidente, htmlAttributes: new { @class = "" })

                            <div class="ui mini icon input" style="height:150px">
                                @Html.TextAreaFor(model => model.Incidente, new { @class = "", @readonly = "readonly" })
                            </div>


                            @Html.ValidationMessageFor(model => model.Incidente, "", new { @class = "ui error message" })
                        </div>


                        <div class="field">
                            @Html.LabelFor(model => model.Respuesta, htmlAttributes: new { @class = "" })

                            <div class="ui mini icon input" style="height:150px">
                                @Html.TextAreaFor(model => model.Respuesta, new { @class = "" })
                            </div>


                            @Html.ValidationMessageFor(model => model.Incidente, "", new { @class = "ui error message" })
                        </div>

                    </div>



                    if (ViewBag.HistorialArchivos != null)
                    {
                        if (ViewBag.HistorialArchivos.Count != 0)
                        {
                            <h4>Soportes que le envia el área encargada.</h4>

                            <table id="tablaArchivo" class="ui celled small hover striped table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Archivo</th>
                                    </tr>
                                </thead>
                                <tbody id="historialArchivoOrden">

                                    @{

                                        if (ViewBag.HistorialArchivos != null)
                                        {
                                            if (ViewBag.HistorialArchivos.Count != 0)
                                            {


                                                foreach (var item in ViewBag.HistorialArchivos)
                                                {
                                                    <tr>
                                                        <td>@item.Nombre</td>
                                                        <td>
                                                            @{
                                                                var tipoArchivo = item.ExtensionArchivo;

                                                                if (tipoArchivo == ".png" || tipoArchivo == ".jpg" || tipoArchivo == ".jpeg")
                                                                {
                                                                    <a id="detalleImagenTicket" value="Detalle" class="ui primary button" onclick="detalleImagen('@item.Archivo')">Detalle</a>

                                                                    <a class="ui positive button" href="@Url.Action("DescargarArchivo","Archivos", new { id = item.Id })">Descargar</a>
                                                                }
                                                                if (tipoArchivo == ".pdf")
                                                                {
                                                                    <a id="detalleArchivo" value="Detalle" class="ui primary button" onclick="detallePdf('@item.Archivo')">Detalle</a>

                                                                    <a class="ui positive button" href="@Url.Action("DescargarArchivo","Archivos", new { id = item.Id })">Descargar</a>
                                                                }
                                                                if (tipoArchivo == ".xls" || tipoArchivo == ".xlsx" || tipoArchivo == ".doc" || tipoArchivo == ".docx" || tipoArchivo == ".ods" || tipoArchivo == ".odt")
                                                                {
                                                                    <a class="ui positive button" href="@Url.Action("DescargarArchivo","Archivos", new { id = item.Id  })">Descargar</a>
                                                                }

                                                            }

                                                        </td>

                                                    </tr>
                                                }
                                            }
                                        }
                                    }



                                </tbody>
                            </table>
                        }
                    }
                    <div class="seven wide column" id="detalleImagen" name="detalleImagen" style="margin-top:15px; display:none">

                        <div class="field">
                            <button id="ocultarImagen" name="ocultarImagen" class="ui default button">Ocultar</button>
                        </div>

                        <div class="ui segments">
                            <div class="ui teal segment form">

                                <h4 class="ui header">Detalle</h4>


                                <img src="" id="imagenTicket" name="imagenTicket">

                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="seven wide column" id="detallePdf" name="detallePdf" style="margin-top:15px; display:none">

                        <div class="field">
                            <button id="ocultarPdfDetalle" class="ui default button">Ocultar</button>
                        </div>

                        <div class="ui segments">
                            <div class="ui teal segment form">

                                <h4 class="ui header">Detalle</h4>



                                <iframe id="pdfTicket" name="pdfTicket" src="" width="100%" height="800px"></iframe>
                            </div>
                        </div>
                    </div>



                    <div class="field">
                        <br />
                        <a class="ui red button" href="@Url.Action("MisTickets","Tickets")">Regresar</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function detalleImagen(id) {

            $("#detalleImagen").show();

            $('#imagenTicket').attr('src', 'data:image/jpeg;base64,' + id).show();
        }


        $("#ocultarImagen").click(function (event) {
            event.preventDefault();
            $("#detalleImagen").hide();
            return false;
        });


        function detallePdf(id) {
            $("#detallePdf").show();
            $('#pdfTicket').attr('src', 'data:application/pdf;base64,' + id).show();

        }


        $("#ocultarPdfDetalle").click(function (event) {
            event.preventDefault();
            $("#detallePdf").hide();
            return false;
        });


    </script>
}
  