﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_LayoutLogin.cshtml";

}
@model  Core.Models.Security.AccountsViewModel


<style>
    .masthead.segment {
        min-height: 350px;
        padding: 1em 0em;
    }

    .masthead {
        background: url('/Content/images/Service_Desk.png') !important;
        background-repeat: no-repeat;
        background-position: center !important;
    }
</style>


<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="active item">Gestionar</a>
        <div class="right menu">
            <div class="item">
                <a class="ui button">Ingresar</a>
            </div>
        </div>
    </div>
</div>


<!-- menu lateral  -->
<div class="ui inverted vertical masthead center aligned segment">
    @*<div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="active item">Gestionar</a>
                <div class="right item">
                    <a href="#login" class="ui inverted button">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="ui text container">
            <h1 class="ui inverted header">
                27 SERVICE DESK
            </h1>
            <h2>Gestion de tickets.</h2>
            <a href="#login" class="ui huge primary button">Ingresar <i class="right arrow icon"></i></a>
        </div>*@

</div>

<div class="ui vertical stripe segment" id="login">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Ingresa al sistema</h3>
                <p>Si tienes problema para ingresar por favor contacta al administrador</p>


                @using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {


                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                @Html.EditorFor(model => model.Accounts.UserName, new { htmlAttributes = new { @class = "", autofocus = "", @placeholder = "Ingrese su documento" } })
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                @Html.EditorFor(model => model.Accounts.Password, new { htmlAttributes = new { @class = "", @placeholder = "Ingrese la contraseña", type = "password" } })
                            </div>
                        </div>
                        @*<div class="two fields">*@
                        <div class="field">
                            <input type="submit" name="send" value="Ingresar" class="ui fluid  red submit button" />

                        </div>
                        @*<div class="field">
                                <a class="ui fluid red submit button" href="@Url.Action("Create","FormUsuario")">Registrar</a>

                            </div>*@
                        @*</div>*@

                    </div>

                    if (ViewBag.Error != null)
                    {

                        <div class="ui error visible  message">@ViewBag.Error</div>
                    }




                }




            </div>
            <div class="six wide right floated column">

                <img src="~/Content/images/helpdesk.png" class="ui large green rounded image">
                @*<img src="~/Content/images/Logo Negro.png" class="ui large green rounded image" style="height:190px; width:300px">*@
            </div>
        </div>

    </div>
</div>




<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            @*<div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item"></a>
                        <a href="#" class="item"></a>
                        <a href="#" class="item"></a>
                        <a href="#" class="item"></a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Services</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item"></a>
                        <a href="#" class="item"></a>
                        <a href="#" class="item"></a>
                        <a href="#" class="item"></a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Footer Header</h4>
                    <p></p>
                </div>*@
        </div>
    </div>
</div>





@section Scripts{
    <script>
        // create sidebar and attach to menu open
        $('.ui.sidebar')
            .sidebar('attach events', '.toc.item')
            ;

    </script>
}


