﻿@model  Core.Models.Security.AccountsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_LayoutLogin.cshtml";
  

}


<style>
    .masthead.segment {
        min-height: 350px;
        padding: 1em 0em;
    }

    .masthead {
        background: url('/Content/images/Service_Desk.png') !important;
        background-repeat: no-repeat;
        background-position: center !important;
    }
</style>


<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="active item">Gestionar</a>
        <div class="right menu">
            <div class="item">
                <a class="ui button">Ingresar</a>
            </div>
        </div>
    </div>
</div>

<!-- menu lateral  -->
<div class="ui inverted vertical masthead center aligned segment">


</div>


<div class="ui vertical stripe segment" id="login">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Cambio de Contraseña</h3>
                <p>Si tienes problema para ingresar por favor contacta al administrador</p>


                @using (Html.BeginForm("EditPassword", "Accounts", FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {

                    @Html.HiddenFor(m => m.Accounts.UserName, new { Value = ViewBag.UserName })
                    <div class="ui stacked segment">
                        <div class="field">
                            <label>Usuario</label>
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" class="text-box single-line" name="usernaNameHidden" id="usernaNameHidden" value="@ViewBag.UserName" placeholder="Ingrese su documento" disabled />                              
                            </div>
                        </div>
                        <div class="field">
                            <label>Nueva Contraseña</label>
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                @Html.EditorFor(model => model.Accounts.Password, new { htmlAttributes = new { @class = "", @placeholder = "Ingrese la contraseña", type = "password" } })
                            </div>
                        </div>
                        <div class="field">
                            <label>Confirmar Contraseña</label>
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                @Html.EditorFor(model => model.Accounts.ConfirmPassword, new { htmlAttributes = new { @class = "", @placeholder = "Confirme la contraseña", type = "password" } })
                            </div>
                        </div>

                        <div class="field">
                            <input type="submit" name="send" value="Actualizar" class="ui fluid  red submit button" />

                        </div>

                    </div>

                    if (ViewBag.Error != null)
                    {

                        <div class="ui error visible  message">@ViewBag.Error</div>
                    }



                }



            </div>
            <div class="six wide right floated column">

                <img src="~/Content/images/helpdesk.png" class="ui large green rounded image">

            </div>
        </div>

    </div>
</div>


<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
       
        </div>
    </div>
</div>


@section Scripts{
    <script>
        // create sidebar and attach to menu open
        $('.ui.sidebar')
            .sidebar('attach events', '.toc.item')
            ;

    </script>
}


