﻿@model AppRecordatorio.Models.TicketsCasos.Tickets

@{
    /**/

    ViewBag.Title = "ResumentTicket";
}


@{
    ViewBag._Active = "ResumentTicket";
    ViewBag._Panel = "Home";
}




<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/logo1.png">
        <div class="content">
            Módulo  de detalle  de @ViewBag.Name
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                    <div class="divider"> / </div>
                    <a class="section" href="@Url.Action("Index")">Listar</a>
                    <div class="divider"> / </div>
                    <div class="active section" style="text-transform:lowercase">Detalle de Tickets</div>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>



<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="sticky note icon"></i>
        Detalle de  Tickets
    </button>

</h4>


<div class="ui grid">
    <div class="one wide column"></div>
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui teal segment">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "ui large form", autofocus = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="field">
                        <div class="ui message">
                            <div class="header">
                                Estado Ticket

                            </div>
                            @{
                                if (Model.IdEstado == 4)
                                {
                                    @*<p style="font-weight:bold; color:green">@Model.Estados.Nombre</p>*@
                                    <p style="font-weight:bold; color:green">Ticket Resuelto.</p>
                                }

                            }
                            @{
                                if (Model.IdEstado == 2)
                                {
                                    <p style="font-weight:bold;">@Model.Estados.Nombre</p>
                                    <p style="font-weight:bold;">El ticket se asigno al área encargada.</p>
                                }
                            }
                            @{
                                if (Model.IdEstado == 3)
                                {
                                    <p style="font-weight:bold;">@Model.Estados.Nombre</p>
                                }
                            }

                        </div>
                    </div>


                    <div class="two fields">
                        <div class="field">
                            @Html.LabelFor(model => model.Incidente, htmlAttributes: new { @class = "" })

                            <div class="ui mini icon input" style="height:150px">
                                @Html.TextAreaFor(model => model.Incidente, new { @class = "", @readonly = "readonly" })
                            </div>


                            @Html.ValidationMessageFor(model => model.Incidente, "", new { @class = "ui error message" })
                        </div>


                        <div class="field">
                            @Html.LabelFor(model => model.Respuesta, htmlAttributes: new { @class = "" })

                            <div class="ui mini icon input" style="height:150px">
                                @Html.TextAreaFor(model => model.Respuesta, new { @class = "" })
                            </div>


                            @Html.ValidationMessageFor(model => model.Incidente, "", new { @class = "ui error message" })
                        </div>

                    </div>


                    <div class="field">
                        @{
                            if (ViewBag.HistorialTicket.Count != 0)
                            {
                                <h4>Historial Ticket</h4>
                                <div class="field">

                                    <table id="tablaArchivo" class="ui celled small hover striped table">
                                        <thead>
                                            <tr>
                                                <th># Ticket</th>
                                                <th>Cambio Estado</th>
                                                <th>Estado</th>
                                                <th>Asignado Por</th>
                                                <th>Asignado A</th>
                                                <th>Respuesta</th>
                                                <th>Notas Ticket</th>
                                            </tr>
                                        </thead>
                                        <tbody id="historialTickets">

                                            @{

                                                if (ViewBag.HistorialTicket != null)
                                                {
                                                    if (ViewBag.HistorialTicket.Count != 0)
                                                    {


                                                        foreach (var item in ViewBag.HistorialTicket)
                                                        {
                                                            <tr>
                                                                <td>@item.IdTicket</td>
                                                                <td>@item.FechaCambioEstado</td>
                                                                <td>@item.Estados.Nombre</td>
                                                                @{
                                                                    if (@item.TicketAsignadoPor != null)
                                                                    {
                                                                        <td>@item.TicketAsignadoPor.Nombres</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>Ticket sin Asignación</td>
                                                                    }
                                                                }

                                                                @{
                                                                    if (@item.TicketAsignadoA != null)
                                                                    {
                                                                        <td>@item.TicketAsignadoA.Nombres</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                    }
                                                                }
                                                                <td>@item.Respuesta</td>
                                                                <td>@item.NotasTicket</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }



                                        </tbody>
                                    </table>
                                </div>

                            }

                        }
                    </div>


                    <div class="field">
                        <br />
                        <a class="ui red button" href="@Url.Action("ListaEstadoTickets","Tickets")">Regresar</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


