﻿@model Core.Models.User.User

@{
    ViewBag.Title = "Create";
}

@{
    ViewBag._Active = "Create";
    ViewBag._Panel = "Create";
}

<br />
<br />
<div class=" segment">
    <h1 class="ui header">
        <img src="~/Content/images/helpdesk.png">
        <div class="content">
            Módulo  registro de usuario
            <div class="sub header">
                <div class="ui breadcrumb">
                    <a class="section" href="@Url.Action("HomeAdmin","Home")">Inicio</a>
                </div>
            </div>
        </div>

    </h1>
    <div class="ui hidden divider"></div>

</div>

<h4 class="ui horizontal divider header">
    <button class="ui  large red submit button">
        <i class="computer icon"></i>
        Registro Usuario
    </button>

</h4>


<div class="seven wide column">
    <div class="ui segments">
        <div class="ui teal segment form">


            <form id="formCreacionUsuarioExterno">
                <div class="four fields">
                    <div class="field">
                        @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "" })

                        <div class="ui fluid input">
                            @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "" } })
                        </div>
                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "" })

                        <div class="ui fluid input">
                            @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "" } })
                        </div>

                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "" })

                        <div class="ui fluid input">
                            @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "" } })

                        </div>




                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "" })

                        <div class="ui fluid input">
                            @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "" } })

                        </div>




                    </div>
                </div>


                <div class="four fields">


                    <div class="field">
                        @Html.LabelFor(model => model.Clave, htmlAttributes: new { @class = "" })

                        <div class="ui fluid input">
                            @Html.EditorFor(model => model.Clave, new { htmlAttributes = new { @class = ""} })

                        </div>




                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "" })

                        <div class="ui fluid input">
                            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "" } })

                        </div>




                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.TelefonoFijo, htmlAttributes: new { @class = "" })

                        <div class="ui fluid input">
                            @Html.EditorFor(model => model.TelefonoFijo, new { htmlAttributes = new { @class = "" } })

                        </div>




                    </div>

                    <div class="field">
                        @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "" })

                        <div class="ui fluid input">
                            @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "" } })

                        </div>




                    </div>
                </div>

                <div class="four fields">



                    <div class="field">
                        @Html.LabelFor(model => model.CodigoAcceso, htmlAttributes: new { @class = "" })

                        <div class="ui fluid input">
                            @Html.EditorFor(model => model.CodigoAcceso, new { htmlAttributes = new { @class = "", @placeholder = "Any desk" } })

                        </div>




                    </div>


                    <div class="field">
                        @Html.LabelFor(model => model.CampanaId, "CampanaId", htmlAttributes: new { @class = "" })

                        @Html.DropDownList("CampanaId", null, "Sin Seleccionar", htmlAttributes: new { @class = "ui fluid search selection dropdown" })

                    </div>

                </div>

                <div class="field">
                    <br />
                    <input type="button" id="GuardarUsuario" value="Registrar" class="ui  large red submit button" />
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/app/UsuarioFormExterno.js"></script>
}
